// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
	display: none;
}

.single_comment {
	border: none !important;
	margin-bottom: 0 !important;
}

.post,
.post_comments,
.show-post-comments {
	padding: 33px;
	margin-left: 90px;
	margin-right: 90px;
	border-radius: 5px 5px 0 0;
	background-color: white;
	overflow: auto;
}

.post_comments {
	padding-top: 10px;
}

.post_comment {
	margin-left: 50px;
	margin-right: 0;
	margin-bottom: 20px;
	min-height: 50px;
	border-bottom: 1px dotted lightgray;
	clear: both;
}

.post_author,
.post_comment_author {
	position: absolute;
	margin-left: -80px;
	margin-top: 0;
	border: 1px solid black;
	padding: 10px 16px;
	border-radius: 40px;
	background-color: white;
	text-align: center;
}

.post_comment_author {
	margin-left: -50px;
}

.post_comment_see_more {
	float: right;
	clear: both;
	position: relative;
	top: 11px;
}

.post_title {
	margin: 0;
}

.post_likes {
	p {
		display: inline;
	}
	
	float: right;
}

.post_options {
	p {
		display: inline;
	}
	float: right;
	clear: both;
}

.post_data {
	float: left;
	p {
		margin: 0;
		color: grey;
		font-size: 12px;
	}
}

// SHOW
.show-post {
	margin-top: 30px;
	border-radius: 5px 5px 0 0;
}

.show-post-author {
	margin: 8px 0 0;
}

.show-post-content{
	width: 100%;
}

.post_create_comment_content {
	width: 100%;
	height: 100px;
}

.post_create_comment_submit,
.post_create_comment_author{
	float: right;
}

.post_comments,
.show-post-comments{
	border-radius: 0 0 5px 5px;
	border-top: 1px solid lightgray;
	margin-bottom: 30px;
}

// NEW
.post-title {
	margin: 0;
}

.post-title,
.post-author {
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.post-content {
	width: 80%;
}

.post-content,
.show-post-content {
	margin: 20px 0 30px;
	float: left;
	textarea {
		width: 100%;
		height: 350px;
	}
}



.post-options {
	margin-top: 50px;
	width: 20%;
	float: right;
	.glyphicon {
		top: unset;
		font-size: 25px;
		display: inline-block;
		margin: 20px 10px;
		float: left;
		clear: both;
		&:hover {
			color: white;
			cursor: pointer;
		}
	}
	.field {
    display: inline-block;		
		margin: 9px 10px;
		position: relative;
		width: 100%;
		.glyphicon {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 10px;
			margin: 0;
			float: unset;
			clear: unset;
		}
		input {
			width: 90%;
		}
	}
	.field:first-of-type{
		padding-bottom: 3px;
	}
}



.post-submit {
	clear: both;
}
