// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-brown: #600;
$primary-green: #38761d;
$secondary-green: #5cb85c;

.userSignUp,
.userSignin {
	margin: 0 30%;
	h2 {
		text-align: center;
		color: $primary-green;
	}
	label {
		color: $primary-brown;
		display: inline-block;
	}
	.field {
		input {
			width: 100%;
			&:focus {
			outline: $secondary-green auto 5px;
			}
		}
		.rememberInput {
			width: unset;
		}
	}
	.actions {
		float: right;
	}
	#error_explanation,
	.field_with_errors {
		width: 100%;
	}

}

.profile_page {
	margin: 30px 10%;
}

.userHeader {
	background-color: white;
}


.profilePic,
.noProfilePic {
	width: 200px;
	height: 300px;
	float: left;
	display: inline-block;
}

.noProfilePic {
	border: 3px solid $primary-green;
	border-radius: 5px;
	p {
		padding: 0 auto;
		margin: 138px 0;
	}
}

.intro {
	display: inline-block;
	height: 300px;
	width: 70%;
	padding-top: 100px;
	margin-left: 30px;
	h2,
	p {
		text-align: center;
	}
}

.userPagePosts {
	h4.postIntro {
		margin-left: 100px;
		margin-top: 60px;
	}
	margin-top: 30px;
}